<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Model</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	
	<servlet>
		<servlet-name>DateItemAppServlet</servlet-name>
		<servlet-class>com.dateitemapp.controller.DateItemAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DateItemAppServlet</servlet-name>
		<url-pattern>/back_end/apprec/dateitemapp.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DateItemRepServlet</servlet-name>
		<servlet-class>com.dateitemrep.controller.DateItemRepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DateItemRepServlet</servlet-name>
		<url-pattern>/back_end/apprec/dateitemrep.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LetterServlet</servlet-name>
		<servlet-class>com.letter.controller.LetterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LetterServlet</servlet-name>
		<url-pattern>/front_end/letter/letter.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LetterTypeServlet</servlet-name>
		<servlet-class>com.lettertype.controller.LetterTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LetterTypeServlet</servlet-name>
		<url-pattern>/back_end/letter/letterType.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DiaMsgServlet</servlet-name>
		<servlet-class>com.diamsg.controller.DiaMsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaMsgServlet</servlet-name>
		<url-pattern>/front_end/diary/diaMsg.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubMemServlet</servlet-name>
		<servlet-class>com.submem.controller.SubMemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubMemServlet</servlet-name>
		<url-pattern>/front_end/diary/subMem.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DiaryServlet</servlet-name>
		<servlet-class>com.diary.controller.DiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryServlet</servlet-name>
		<url-pattern>/front_end/diary/diary.do</url-pattern>
	</servlet-mapping>
  
  	<servlet>
    	<servlet-name>ShowImage</servlet-name>
    	<servlet-class>com.diary.controller.ShowImage</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>ShowImage</servlet-name>
    	<url-pattern>/front_end/diary/ShowImage</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>ShowDiaVideo</servlet-name>
    	<servlet-class>com.diary.controller.ShowVideo</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>ShowDiaVideo</servlet-name>
    	<url-pattern>/front_end/diary/DiaryVideo</url-pattern>
  	</servlet-mapping>
	
	<filter>
    	<filter-name>loginFilter</filter-name>
    	<filter-class>com.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>loginFilter</filter-name>
	    <url-pattern>/front_end/member/memberInfo.jsp</url-pattern>
	    <url-pattern>/front_end/diary/mydiary.jsp</url-pattern>
	    <url-pattern>/front_end/diary/manageSubMem.jsp</url-pattern>
	    <url-pattern>/front_end/letter/index_letter.jsp</url-pattern>
	    <url-pattern>/front_end/letter/index_notRead.jsp</url-pattern>
	    <url-pattern>/front_end/letter/index_tagLetter.jsp</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	    <dispatcher>ASYNC</dispatcher>
	  </filter-mapping>
	  
	  <servlet>
	    <servlet-name>PutMap</servlet-name>
	    <servlet-class>com.context.PutMap</servlet-class>
	    <load-on-startup>10</load-on-startup>
	  </servlet>


</web-app>


